/* main/css/main.css */

/* Общие стили */
body {
    background-color: #f8f9fa; /* Светлый фон */
}

/* Стили для боковой панели */
.sidebar {
    min-height: 100vh; /* Полная высота */
}

.sidebar .h5 {
    font-weight: bold;
    color: #333;
}

/* Стили для основного контента */
main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
