<nav>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'news_home' %}">Новости</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'data' %}">Каталог</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'new' %}">Новинки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'test' %}">Отзывы</a>
        </li>
        
        
    </ul>
</nav>
