{% extends "main\layoute.html" %}

{% block title %}
    <title>Третья страница на django</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Новинки</h1>
    <p>Мы постоянно обновляем наш ассортимент, чтобы предложить вам последние новинки в мире футляров для очков. Вот несколько из наших последних поступлений:</p>
    <ul>
        <li>Эксклюзивная коллекция кожаных футляров</li>
        <li>Футляры с уникальными принтами современных художников</li>
        <li>Суперлегкие футляры из карбона</li>
        <li>Индивидуальные футляры на заказ</li>
    </ul>
    <p>Не упустите возможность первыми приобретать новинки. Следите за обновлениями, чтобы быть в курсе последних трендов и инноваций в нашем магазине.</p>
    <a class="btn btn-primary btn-lg mt-3" href="{% url 'data' %}" role="button">Посмотреть новинки</a>
</div>
{% endblock %}
