{% extends "main\layoute.html" %}

{% block title %}
    <title>Отзывы наших клиентов</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Отзывы наших клиентов</h1>
    <p>Нам очень важно мнение наших клиентов, и мы рады поделиться их отзывами с вами. Вот что говорят наши покупатели об опытe покупки в BRIL LE:</p>
    <ul class="list-unstyled">
        <li><strong>Анна:</strong> "Заказала футляр из коллекции премиум. Очень довольна качеством и быстрой доставкой!"</li>
        <li><strong>Игорь:</strong> "Футляр оказался именно таким, как на фото. Приятно удивлен обслуживанием и вниманием к деталям."</li>
        <li><strong>Мария:</strong> "Купила футляр в подарок, и он идеально подошел! Буду заказывать снова."</li>
        <li><strong>Олег:</strong> "Отличное соотношение цены и качества. Рекомендую всем своим друзьям."</li>
    </ul>
    <p>Хотите оставить свой отзыв? Заполните форму на странице "Связаться с нами" и помогите нам стать лучше для вас!</p>
</div>
{% endblock %}
